@page "/EditInterview/{Id:guid}"
@using WebApplicant.Model
@inject HttpClient http
@inject NavigationManager nav
<div class="container-fluid mt-5">
<h3>Edit Interview</h3>

<EditForm Model="InterviewInfo" OnValidSubmit="UpdateInterview">
    <label>Applicant Name</label>
    <input type="text" placeholder="Applicant ID" class="form-control" @bind="InterviewInfo.IdApplicant" />

    <label>Position Name</label>
    <input type="text" placeholder="Position ID" class="form-control" @bind="InterviewInfo.IdPosition" />

    <label>Interview Date</label>
    <input type="date" placeholder="Date" class="form-control" @bind="InterviewInfo.InterviewDate" />

    <label>Time From</label>
    <input type="time" placeholder="TimeFrom" class="form-control" @bind="InterviewInfo.TimeFrom" />

    <label>Time To</label>
    <input type="time" placeholder="TimeTo" class="form-control" @bind="InterviewInfo.TimeTo" />

    <button class="btn">Update</button>
  

</EditForm>
</div>
@code {
    [Parameter]
    public Guid Id { get; set; }

    List<InterviewGetInputDto> Listinterviews = new List<InterviewGetInputDto>();

    EditInterviewInputDto InterviewInfo = new EditInterviewInputDto();

    protected async override Task OnInitializedAsync()
    {
        try
        {

            Listinterviews = await http.GetFromJsonAsync<List<InterviewGetInputDto>>("/GetInterview")
            ?? new List<InterviewGetInputDto>();

            var found = Listinterviews.FirstOrDefault(c => c.Id == Id);

            if (found == null)
            {
                Console.WriteLine("There is not Data Associated with this ID");
            }
            else
            {
                InterviewInfo.Id = found.Id;
                InterviewInfo.IdApplicant = found.IdApplicant;
                InterviewInfo.IdPosition = found.IdPosition;
                InterviewInfo.InterviewDate = found.InterviewDate;
                InterviewInfo.TimeFrom = found.TimeFrom;
                InterviewInfo.TimeTo = found.TimeTo;
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex);
        }
    }

    public async Task UpdateInterview()
    {
        try
        {
            var result = await http.PutAsJsonAsync($"UpdateInterview/{Id}", InterviewInfo);
            if (result.IsSuccessStatusCode)
            {
                nav.NavigateTo("/Interview");
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex);
        }
    }
}
